.footer {
  max-width: 1280px;
  margin-top: 92px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer__content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/Visite-Nos__background.png);
  padding: 243px 264px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__content:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/Visite-Nos__background.png);
}

.footer__content-item {
  width: 656px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__content-title {
  margin: 0;
  width: 659px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}

.footer__content-subtitle {
  margin: 0;
  margin-top: 32px;
  width: 280px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
}

.footer__content-button {
  margin-top: 32px;
  width: 191px;
  height: 48px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  color: #ffffff;
  padding: 13px, 20px, 13px, 20px;
  border-radius: 4px;
  background-color: #0278fe;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: none;
}

.footer__content-button:hover {
  background-color: #0063d2;
}

.footer__copyright {
  margin: 92px 0 24px 0;
  width: 166px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  .footer {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/Visite-Nos__background.png);
    padding: 246px 156px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/Visite-Nos__background.png);
    padding: 246px 56px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__copyright {
    margin: 88px 0 24px 0;
    width: 166px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
  }
}

@media only screen and (max-width: 720px) {
  .footer {
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/Visite-Nos__background.png);
    padding: 246px 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__copyright {
    margin: 88px 0 24px 0;
    width: 166px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
  }
}

@media only screen and (max-width: 550px) {
  .footer {
    width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/Visite-Nos__background.png);
    padding: 160px 65px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__content-item {
    width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__content-title {
    margin: 0;
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
  }

  .footer__content-subtitle {
    margin: 0;
    margin-top: 16px;
    width: 280px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
  }

  .footer__content-button {
    margin-top: 16px;
    width: 191px;
    height: 48px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.78px;
    color: #ffffff;
    padding: 13px, 20px, 13px, 20px;
    border-radius: 4px;
    background-color: #0278fe;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
  }

  .footer__copyright {
    margin: 64px 0 20px;
    width: 166px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
  }
}

@media only screen and (max-width: 320px) {
  .footer {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/Visite-Nos__background.png);
    padding: 46px 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__content-item {
    width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__content-title {
    margin: 0;
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
  }

  .footer__content-subtitle {
    margin: 0;
    margin-top: 16px;
    width: 280px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
  }

  .footer__content-button {
    margin-top: 16px;
    width: 191px;
    height: 48px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.78px;
    color: #ffffff;
    padding: 13px, 20px, 13px, 20px;
    border-radius: 4px;
    background-color: #0278fe;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
  }

  .footer__copyright {
    margin: 64px 0 0;
    width: 166px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
  }
}
