.gallery {
  margin-top: 118px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__gallery {
  width: 1184px;
  display: grid;
  grid-template-columns: 284px 284px 284px 284px;
  grid-template-rows: 213px 213px;
  grid-gap: 16px;
}

.gallery__image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1024px) {
  .gallery {
    margin-top: 90px;
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content__gallery {
    width: 984px;
    display: grid;
    grid-template-columns: 485px 485px;
    grid-template-rows: 360px 360px 360px;
    grid-gap: 16px;
  }

  .gallery__image {
    width: 100%;
  }
}

/* Conteudo de Responsivo 768px */
@media only screen and (max-width: 768px) {
  .gallery {
    margin-top: 90px;
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content__gallery {
    width: 720px;
    display: grid;
    grid-template-columns: 352px 352px;
    grid-template-rows: 264px 264px 264px 264px;
    grid-gap: 16px;
  }

  .gallery__image {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .gallery {
    margin-top: 90px;
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content__gallery {
    width: 720px;
    justify-content: center;
    display: grid;
    grid-template-columns: 340px 340px;
    grid-template-rows: 264px 264px 264px 264px;
    grid-gap: 16px;
  }

  .gallery__image {
    width: 100%;
  }
}

/* Conteudo de Responsivo 320px */
/* @media only screen and (max-width: 320px) {
  .gallery {
    margin-top: 90px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content__gallery {
    width: 288px;
    display: grid;
    grid-template-columns: 288px;
    grid-template-rows: 216px 216px 216px 216px 216px 216px 216px 216px;
    grid-gap: 12px;
  }
} */
