.nav {
  width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__title {
  margin: 90px 0 0;
  width: 793px;
  color: #ffffff;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

.nav__description {
  margin: 32px 0 0;
  width: 720px;
  color: #ffffff;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.nav__image {
  margin: 64px 0 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: auto;
}

/* Conteudo de Responsivo 1024px */
@media only screen and (max-width: 1024px) {
  .nav {
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    width: 768px;
  }

  .nav__title {
    margin: 96.11px 0 0;
    font-size: 96px;
  }

  .nav__description {
    margin: 32px 0 0;
    font-size: 30px;
  }

  .nav__image {
    margin: 36px 0 0;
  }
}

@media only screen and (max-width: 720px) {
  .nav {
    width: 100%;
  }

  .nav__title {
    margin: 48.94px 0 0;
    width: 288px;
    font-size: 40px;
    line-height: 44px;
  }

  .nav__description {
    margin: 16px 0 0;
    width: 288px;
    font-size: 16px;
    line-height: 20px;
  }

  .nav__image {
    margin: 40px 0 0;
    width: 100%;
  }
}
/* 
@media only screen and (max-width: 320px) {
  .nav {
    width: 320px;
  }

  .nav__title {
    margin: 48.94px 0 0;
    width: 288px;
    font-size: 40px;
    line-height: 44px;
  }

  .nav__description {
    margin: 16px 0 0;
    width: 288px;
    font-size: 16px;
    line-height: 20px;
  }

  .nav__image {
    margin: 40px 0 0;
  }
} */
