.nav {
  width: 984px;
  height: 983px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__title {
  color: #ffffff;
}

.nav__description {
  color: #ffffff;
}

.nav__image {
  width: 984px;
  height: 615px;
}
